body {
    font-family: sans-serif;
}

.row {
    padding: 10px;
}

.row.sorting {
    float: left;
}

.row.filter {

}


.edit .row {
    clear: both;
}

.edit label {
    display: block;
    width: 150px;
    float: left;

}

.edit input.radio {
    float: left;
    margin-right: 6px;
}

.edit label.radio {
    display: inline;
    width: 20px;
    text-align: left;
}

.edit input.text {
    width: 200px;
}

li.entry {
    -webkit-padding-start: 0px;
    list-style-type: none;
    padding-top: 20px;
}

.entry {
    clear: both;
}

.entry input {
    float: left;
}

.entry label {
    width: 180px;
    float: left;
}

.entry .date {
    width: 200px;
    float: left;
}

.entry .title {
    font-weight: bold;
    width: 400px;
    float: left;
 }

.entry .priority {
    width: 200px;
    text-align: right;
    float: left;
}

.entry .status {
    padding-top: 20px;
    clear: both;
}

.entry .description {
    width: 400px;
    padding-bottom: 40px;
    float: left;
}

.entry .edit {
    width: 200px;
    text-align: right;
    float: left;
}

.hide {
    display: none;
}

/* just for development */
hr {
    margin-top: 100px;
    clear: both;
}

.todo {
    background-color: aquamarine;
}
