/* global styles for display and editor */

body {
    font-family: sans-serif;
    font-size: 14px;
}

.container {
    min-width: 900px;
}

.hide {
    display: none;
}

.row {
    padding: 10px;
    min-height: 35px;
    max-width: 810px;
}


/* styles for actions */

.row.filter {
    float: left;
}

.row.sorting {

}

.sorting button:hover, .sorting button.active {
    background: #a9a9a9;
    text-decoration: none;
}


/* styles for displaying note entries */

ul {
    padding-left: 0px;
}

li.entry {
    -webkit-padding-start: 0px;
    list-style-type: none;
    padding-top: 20px;
    border-top: solid 1px;
}

.entry {
    clear: both;
}

.entry input {
    float: left;
}

.entry label {
    width: 180px;
    float: left;
}

.entry .date {
    width: 200px;
    float: left;
}

.entry .title {
    font-weight: bold;
    width: 400px;
    float: left;
 }

.entry .priority {
    width: 200px;
    text-align: right;
    float: left;
}

.entry .status {
    padding-top: 20px;
    clear: both;
}

.entry .description {
    width: 400px;
    padding-bottom: 40px;
    float: left;
}

.entry .edit {
    width: 200px;
    text-align: right;
    float: left;
}

div.description {
    max-height: 50px;
}

a.less {
    display: none;
}

/* style for the note editor page */

.edit .row {
    clear: both;
}

.edit label {
    display: block;
    width: 150px;
    float: left;
}

.edit input.radio {
    float: left;
    margin-right: 6px;
}

.edit label.radio {
    display: inline;
    width: 20px;
    text-align: left;
}

.edit input.text {
    width: 200px;
}