/* global styles for display and editor */

body {
    font-family: sans-serif;
}

.hide {
    display: none;
}

.row {
    padding: 10px;
    min-height: 35px;
}


/* styles for actions */

.row.sorting {
    float: left;
}

.row.filter {

}

.sorting button:hover, .sorting button.active {
    background: #a9a9a9;
    text-decoration: none;
}


/* styles for displaying note entries */

li.entry {
    -webkit-padding-start: 0px;
    list-style-type: none;
    padding-top: 20px;
}

.entry {
    clear: both;
}

.entry input {
    float: left;
}

.entry label {
    width: 180px;
    float: left;
}

.entry .date {
    width: 200px;
    float: left;
}

.entry .title {
    font-weight: bold;
    width: 400px;
    float: left;
 }

.entry .priority {
    width: 200px;
    text-align: right;
    float: left;
}

.entry .status {
    padding-top: 20px;
    clear: both;
}

.entry .description {
    width: 400px;
    padding-bottom: 40px;
    float: left;
}

.entry .edit {
    width: 200px;
    text-align: right;
    float: left;
}


/* style for the note editor page */

.edit .row {
    clear: both;
}

.edit label {
    display: block;
    width: 150px;
    float: left;

}

.edit input.radio {
    float: left;
    margin-right: 6px;
}

.edit label.radio {
    display: inline;
    width: 20px;
    text-align: left;
}

.edit input.text {
    width: 200px;
}


/* WIP show shortened descriptions */
.ellipsis {
    width: 380px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/* WIP show shortened descriptions */
.block-ellipsis {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 29px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* just for development */

.todo {
    background-color: aquamarine;
}
